//colors
$color1: #000807;
$color2: #A2A3BB;
$color3: #9395D3;
$color4: #B3B7EE;
$color5: #FBF9FF;
//fonts
$font1: 'Sansita Swashed', cursive;
$font2: 'Source Code Pro', monospace;
//mixins
@mixin linkStyle($text, $shadow) {
    text-decoration: none;
    color: $text;
    text-shadow: 1px 2px 1px $shadow;
    font-family: $font2;

    &:hover {
        color: $shadow;
        text-shadow: 1px 2px 1px $text;
    }
}
@mixin buttonStyle($size1) {
  background-color: transparent;
  border: 1px solid $color1;
  box-sizing: border-box;
  color: $color1;
  font-family: $font2;
  font-size: $size1;
  padding: 16px 23px;
  position: relative;
  text-decoration: none;
  
  &:hover {
    background-color: transparent;
    cursor: pointer;
  }

  &::before {
  background-color: $color5;
  height: calc(100% + 3px);
  position: absolute;
  right: -7px;
  top: -9px;
  transition: background-color 300ms ease-in;
  width: 100%;
  z-index: -1;
}

&:hover::before {
  background-color: $color3;
}
}