@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  background-color: #f8f7e9;
}

.btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #8C4830;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-size: 1rem;
  line-height: 16px;
  outline: none;
  padding: .7rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}

.btn:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.subbtn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #8C4830;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: .75rem;
  line-height: 12px;
  outline: none;
  padding: .5rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.subbtn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}

.subbtn:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.delete-btn {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  background-color: #fff;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
          box-shadow: rgba(0, 0, 0, 0.2) 15px 28px 25px -18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #8C4830;
  cursor: pointer;
  display: inline-block;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: .60rem;
  line-height: 12px;
  outline: none;
  padding: .25rem;
  text-decoration: none;
  -webkit-transition: all 235ms ease-in-out;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
}

.delete-btn:hover {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px -5px;
  -webkit-transform: translate3d(0, 2px, 0);
          transform: translate3d(0, 2px, 0);
}

.delete-btn:focus {
  -webkit-box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
          box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 4px -6px;
}

.page-title {
  text-align: center;
  letter-spacing: 3px;
  font-size: 2em;
}

.login, .signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10vh;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login, .signup label {
  letter-spacing: 2px;
}

.signup input {
  display: block;
  font-size: 25px;
  line-height: 50px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 50px;
  border: none;
  border-bottom: 3.5px solid #000807;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: #000807;
  background-color: #f8f7e9;
  letter-spacing: 2px;
}

.signup input:focus {
  border-bottom: 3.5px solid #8C4830;
}

.login input {
  display: block;
  font-size: 25.5px;
  line-height: 51px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 51px;
  border: none;
  border-bottom: 3.5px solid #000807;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: #000807;
  background-color: #f8f7e9;
  letter-spacing: 2px;
}

.login input:focus {
  border-bottom: 3.5px solid #8C4830;
}

.signupInput {
  margin-top: 20px;
  width: 300px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.loginInput {
  margin-top: 20px;
  width: 300px;
  text-align: center;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.auth {
  margin-top: 20px;
  border: none;
  background: transparent;
  text-decoration: underline;
  font-family: "Montserrat", sans-serif;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 40px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #dba06c;
  z-index: 2;
}

.navbar a {
  text-decoration: none;
  color: #000807;
  letter-spacing: 2px;
}

.logo {
  width: 100px;
}

.discovers {
  margin-top: 10vmin;
  margin-bottom: 10vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}

.discover {
  padding-top: 2vh;
  padding-left: 1vw;
  width: 280px;
  list-style-type: none;
  position: relative;
  background: #f8f7e9;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.discover:hover {
  -webkit-box-shadow: 10px 10px #8C4830;
          box-shadow: 10px 10px #8C4830;
}

.dis-desc {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  overflow-y: scroll;
  height: 40px;
  margin: 10px;
}

.dis-desc::-webkit-scrollbar {
  display: none;
}

.dis-date {
  font-size: 12px;
  font-weight: 600;
}

.discover img {
  width: 220px;
}

.searchDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.searchDiv input {
  text-align: center;
  width: 250px;
  height: 25px;
  border-bottom-left-radius: 15px 200px;
  border-bottom-right-radius: 200px 15px;
  border-top-left-radius: 200px 15px;
  border-top-right-radius: 15px 200px;
  outline: none;
  font-family: "Montserrat", sans-serif;
  letter-spacing: 2px;
}

.dis-desc {
  margin: 20px;
}

.addForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
  margin-top: 5vh;
  padding: 5px;
  font-family: "Montserrat", sans-serif;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 2px;
}

.addForm input {
  display: block;
  font-size: 12px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 24px;
  border: none;
  border-bottom: 3.5px solid #000807;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: #000807;
  background-color: #f8f7e9;
  text-align: center;
  letter-spacing: 2px;
  font-size: .8em;
}

.addForm input:focus {
  border-bottom: 3.5px solid #8C4830;
}

.castings {
  margin-top: 10vmin;
  margin-bottom: 10vmin;
  margin-left: 15vmin;
  margin-right: 15vmin;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 50px;
}

.casting {
  width: 280px;
  list-style-type: none;
  position: relative;
  background: #f8f7e9;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
}

.casting:hover {
  -webkit-box-shadow: 10px 10px #8C4830;
          box-shadow: 10px 10px #8C4830;
}

.casting img {
  width: 220px;
}

.date {
  font-size: 12px;
}

.desc {
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 1.3em;
  overflow-y: scroll;
  height: 40px;
  margin: 10px;
}

.desc::-webkit-scrollbar {
  display: none;
}

.mediadiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 10vh;
}

.mediadiv img {
  width: 400px;
}

.casting-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.casting-comment input {
  border-bottom-left-radius: 15px 200px;
  border-bottom-right-radius: 200px 15px;
  border-top-left-radius: 200px 15px;
  border-top-right-radius: 15px 200px;
  width: 300px;
  outline: none;
  height: 25px;
  letter-spacing: 1px;
}

.casting-comment .btn {
  position: relative;
  bottom: 8px;
  margin-left: 10px;
}

.castinfo {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.castinfo p {
  width: 400px;
}

.commented {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  text-align: center;
}

.commented button {
  margin-left: 4px;
}

.like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
  font-size: 20px;
}

.vote-count {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.edit-casting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  gap: 5px;
}

.edit-casting input {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 28px;
  border: none;
  border-bottom: 3.5px solid #000807;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: #000807;
  background-color: #f8f7e9;
}

.edit-casting input:focus {
  border-bottom: 3.5px solid #8C4830;
}

textarea {
  background-color: #f8f7e9;
}

.add-character {
  margin-bottom: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.add-character input {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 28px;
  border: none;
  border-bottom: 3.5px solid #000807;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: #000807;
  background-color: #f8f7e9;
}

.add-character input:focus {
  border-bottom: 3.5px solid #8C4830;
}

.characterdiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 8vw;
  margin-bottom: 10vh;
}

.characters {
  position: relative;
  background: #f8f7e9;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  -webkit-box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
          box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  -webkit-transition: all .4s ease;
  transition: all .4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.characters:hover {
  -webkit-box-shadow: 10px 10px #8C4830;
          box-shadow: 10px 10px #8C4830;
}

.charactercard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  margin-top: 2vh;
  margin-left: 2vh;
  margin-right: 2vh;
  -ms-flex-item-align: center;
      align-self: center;
}

.charactercard input, textarea {
  line-height: 20px;
  margin-left: 6px;
  margin-right: 6px;
  font-family: "Montserrat", sans-serif;
}

.charactercard p {
  width: 300px;
}

.characters img {
  width: 200px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.charactercard-edit {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.charactercard-edit input {
  display: block;
  font-size: 14px;
  line-height: 28px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 28px;
  border: none;
  border-bottom: 3.5px solid #000807;
  min-width: 250px;
  padding-left: 5px;
  outline: none;
  color: #000807;
  background-color: #f8f7e9;
  margin-top: 1vh;
}

.charactercard-edit input:focus {
  border-bottom: 3.5px solid #8C4830;
}

.overflow {
  overflow-y: auto;
  height: 100px;
  overflow-x: hidden;
}

.comments {
  margin-top: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.comments input {
  display: block;
  font-size: 12px;
  line-height: 24px;
  font-family: "Montserrat", sans-serif;
  margin-bottom: 24px;
  border: none;
  border-bottom: 3.5px solid #000807;
  min-width: 185px;
  padding-left: 5px;
  outline: none;
  color: #000807;
  outline: none;
}

.comments input:focus {
  border-bottom: 3.5px solid #8C4830;
}

.character-comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 30ch;
  text-overflow: ellipsis;
  text-align: center;
  margin-bottom: 2vh;
  font-size: 12px;
}

.border {
  border: 20px #8C4830 solid;
  background-color: #dba06c;
  overflow-x: scroll;
}

.border::-webkit-scrollbar {
  display: none;
}

.home-imgs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.home-imgs img {
  width: 280px;
}

.home-title {
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #dba06c;
    z-index: 2;
  }
  .home-imgs img {
    width: 180px;
  }
}
/*# sourceMappingURL=jihee.css.map */