@import "../variables/variables.scss";

.navbar {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: $color5;

  img {
    height: 100px;
    align-self: center;
  }
  
  .navlinks {
    margin-top: 30px;
  }

  a{
    @include linkStyle($color1, $color4);
    padding: 10px;
    margin: 10px;
  }
}  